<!doctype html>
<title>{% block title %}{% endblock %}</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<link rel ="bs" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"> 
<nav>
    {% if session['username'] %}
      <span>Hello {{ g.user['role'] }}  |  </span>
      <a href="{{ url_for('auth.logout') }}">Log Out</a>
    {% else %}
    <a href="{{ url_for('auth.login') }}">Log in</a>
  {% endif %}
</nav>
<section class="content">
  <header>
    {% block header %}{% endblock %}
  </header>
  {% block content %}{% endblock %}
  {% for message in get_flashed_messages() %}
  <div class="flash">{{ message }}</div><br>
  {% endfor %}
</section>